pkgbase = fabric-server
	pkgdesc = Minecraft Fabric server unit files, script and jar
	pkgver = 1.20.4_1.0.0_0.15.7
	pkgrel = 0
	url = https://fabricmc.net
	install = fabric-server.install
	arch = any
	license = Apache
	depends = java-runtime-headless>=17
	depends = tmux
	depends = sudo
	depends = bash
	depends = awk
	depends = sed
	optdepends = tar: required in order to create world backups
	optdepends = netcat: required in order to suspend an idle server
	provides = fabric-server=1.20.4_1.0.0_0.15.7
	noextract = fabric-1.20.4-1.0.0-0.15.7.jar
	backup = etc/conf.d/fabric
	source = minecraft-server-1.0.4.tar.gz::https://github.com/Edenhofer/minecraft-server/archive/refs/tags/v1.0.4.tar.gz
	source = fabric-installer-1.0.0.jar::https://maven.fabricmc.net/net/fabricmc/fabric-installer/1.0.0/fabric-installer-1.0.0.jar
	sha512sums = dd4d68ca061c97a1e3cb5c0bb68439f7d8d45b15092344f3c4dbd4f7f39fef433d566670ad440970061007d93055183b570c7bf98f09c111ecdf8ab0f208f556
	sha512sums = 4436abb017554703ccb070620a9a39b33ccd380d8d640c88f8d3f5b434ec73bf95c3dbcc9824243dafe2f3bb19fc0f9b9a5f27c2896f8162838f297b77b581d4

pkgname = fabric-server
